.row.offset1.form-warnings
  - if @recipe.errors.any?
    #error_explanation
      %h2= "#{pluralize(@recipe.errors.count, "error")} prohibited this recipe from being saved:"
      %ul
        - @recipe.errors.full_messages.each do |msg|
          %li= msg

= nested_form_for @recipe do |f|
  .span5.well
    .field
      = f.label :name
      = f.text_field :name
    .field
      = f.label :recipe_image
      = f.file_field :recipe_image
    .field
      = f.label :category
      = f.select 'category_id', Category.all.collect { |c| [c.name,c.id] }
    .field
      = f.label :directions
      = f.text_area :directions
  .span5.well
    .field
      = render 'fields', f: f
    %br
    %br
    .actions.center-text
      = f.submit 'Save', class: 'btn'
      = link_to 'Delete', recipe_path(@recipe), method: :delete, class: 'btn btn-danger'
      = link_to 'Back', recipes_path, class: 'btn'


