%h1.center-text= @recipe.name

.span5.well.center-text
  %p.recipe-details
    %h3 Category
    %p= @recipe.category.name.capitalize
  %p
    %h3 Ingredients:
    - @recipe.ingredients_recipes.each do |i|
      %p= "#{i.quantity} #{i.ingredient.name}"
  %p
    %h3 Directions
    %br
    = raw @recipe.directions

.span5.well.center-text

  = image_tag @recipe.recipe_image.detail.url
  %br
  %br
  - if owner? || admin?
    = link_to 'Edit', edit_recipe_path(@recipe), class: 'btn'  
  = link_to 'Back', recipes_path, class: 'btn'
