.span3.well.center-text
  %h2 Recipes
  - @recipes.each do |recipe|
    %p= link_to recipe.name, recipe_path(recipe)
.span7.well.center-text
  %h2 Today's Top Recipe
  %h3= @top_recipe.name
  = image_tag @top_recipe.recipe_image.detail.url, class: 'recipe-pics'
  %br
  %p 
    %b Ingredients
    - @top_recipe.ingredients.each do |i|
      %p= i.name
  %br
  %b Directions
  %p= raw @top_recipe.directions
